---
layout: default
---

 <!-- Cards -->
 <div class="demo-card-wide mdl-card mdl-shadow--2dp"> 
    <div class="mdl-card__post" style="background: url('/assets/{{ page.date | date: '%Y-%m-%d' }}.jpg') center / cover;">
        <h2 class="mdl-card__title-text">{{ page.title }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{ page.date | date: '%b %d, %Y' }}
    </div>
    <div class="mdl-card__supporting-text" style="font-size: 1.3em">
        {{ content }}
    </div>
    <div class="mdl-card__actions mdl-card--border"> 
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect nav-button" href="{{page.previous.url}}">&lt;</a>
         
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect nav-button" href="{{page.next.url}}">&gt;</a>
    </div>
   
</div>
<div>&nbsp;</div>

</div>
<div class="mdl-layout-spacer"></div> 
</div>
